.underline-hover-effect {
    position: relative;
}

.underline-hover-effect::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: var(--color-secondary);
    content: '';
    opacity: 0;
    transition:
        opacity 0.3s,
        transform 0.3s;
    transform: translateY(10px);
}

.underline-hover-effect:hover::after,
.underline-hover-effect:focus::after {
    opacity: 1;
    transform: translateY(0px);
}
